include data.pug

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width initial-scale=1")

  body
    header.header
      .header__wrapper
        img.header__logo(src="/images/logo.png" alt="Uber Eats Logo")

        .header__button
          button.header__button.button.button__autorize(href="#") Войти
          button.header__button.button.button__basket(href="#")
            img(src="/images/basket.png")

    section.search
      .search__wrapper
        input.search__input(type="text" placeholder="Поиск по ресторанам и кухням" alt="input__search" name="searcher" )

    section.menuFood
      .menuFood__wrapper
        h1.menuFood__title.title Рестораны в Москве
        .menuFood__foodCardContent
          each item in foodCards
            .menuFood__foodCardCenter
              .menuFood__foodCard
                figure
                  img.menuFood__foodCardImage(src= item.image, alt= item.title)
                  figcaption
                    h2.menuFood__foodCardTitle= item.title
                    p.menuFood__foodCardDescription= item.desc
                    p.menuFood__foodCardDelivery= item.delivery


    footer.footer
      .footer__wrapper
        .footer__logoImg
          img.footer__logo(src="/images/footer-logo.png" alt="footer__logo")

        .footer__menu
          .footer__socialLink
            select.footer__selectLang
              .footer__selectLangWorld
              option.footer__selectText(value="1") Русский
              option.footer__selectText(value="2") English
            p.footer__selectLang--text #
              span.footer__span UberEats
            .footer__selectLangSocial
              img.footer__selectLangSocialLink(src="/images/facebook.png" alt="facebook__logo")
              img.footer__selectLangSocialLink(src="/images/twitter.png" alt="twitter__logo")
              img.footer__selectLangSocialLink(src="/images/instagram.png" alt="instagram__logo")

          .footer__aboutUberEats
            a.footer__aboutUberEatsLinks.footer__links(href="#") Об UberEats
            a.footer__aboutUberEatsLinks.footer__links(href="#") Станьте партнёром по доставке
            a.footer__aboutUberEatsLinks.footer__links(href="#") Станьте партнёром-рестораном

          .footer__help
            a.footer__helpLinks.footer__links(href="#") Все города
            a.footer__helpLinks.footer__links(href="#") Цены
            a.footer__helpLinks.footer__links(href="#") Помощь
            a.footer__helpLinks.footer__links(href="#") FAQs

        .footer__app
          button.footer__button.button__app(href="#")
            img(src="/images/app__store.png")
          button.footer__button.button__app(href="#")
            img(src="/images/google__play.png")

        .footer__footer
            p.footer__footerText © 2017 Uber Technologies Inc.
            p.footer__footerText Обработка персональных данных
            p.footer__footerText Пользовательское соглашение
