doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width initial-scale=1")

  body
    header.header
      .header__wrapper
        img.header__logo(src="/images/logo.png" alt="Uber Eats Logo")

        .header__button
          button.header__button.button.button__autorize(href="#") Войти
          button.header__button.button.button__basket(href="#")
            img(src="/images/basket.png")

    section.search
      input.search__input(type="text" placeholder="Поиск по ресторанам и кухням" alt="input__search" name="searcher" )

    section.menuFood
      h1.menuFood__title.title Рестораны в Москве

      .foodCart__content
        .foodCard
          img.foodCard__image(src="/images/food-1.png" alt="food image")
          h2.foodCard__title Макдоналдс — газетный
          p.foodCard__description ₽₽ • Бургеры
          p.foodCard__delivery 25 - 35 Min

        .foodCard
          img.foodCard__image(src="/images/food-2.png" alt="food image")
          h2.foodCard__title DimSum & Co - ЦДМ
          p.foodCard__description ₽ • Японская • Китайская • Азиатская
          p.foodCard__delivery 40 - 50 Min

        .foodCard
          img.foodCard__image(src="/images/food-3.png" alt="food image")
          h2.foodCard__title ДвижОК — Манежная
          p.foodCard__description ₽ • Американская • Европейская
          p.foodCard__delivery 35 - 45 Min

        .foodCard
          img.foodCard__image(src="/images/food-4.png" alt="food image")
          h2.foodCard__title НЯ — NHA
          p.foodCard__description ₽₽ • Вьетнамская
          p.foodCard__delivery 30 - 40 Min

        .foodCard
          img.foodCard__image(src="/images/food-5.png" alt="food image")
          h2.foodCard__title Точка Дзы — Цветной
          p.foodCard__description ₽₽ • Вьетнамская
          p.foodCard__delivery 40 - 50 Min

        .foodCard
          img.foodCard__image(src="/images/food-6.png" alt="food image")
          h2.foodCard__title Cinnabon
          p.foodCard__description ₽ • Выпечка • Десерты • Капкейки
          p.foodCard__delivery 25 - 35 Min

        .foodCard
          img.foodCard__image(src="/images/food-7.png" alt="food image")
          h2.foodCard__title PIZZELOVE
          p.foodCard__description ₽₽ • Пицца
          p.foodCard__delivery 15 - 25 Min

        .foodCard
          img.foodCard__image(src="/images/food-8.png" alt="food image")
          h2.foodCard__title Zю кафе — Тверская
          p.foodCard__description ₽₽ • Японская
          p.foodCard__delivery 25 - 35 Min

        .foodCard
          img.foodCard__image(src="/images/food-9.png" alt="food image")
          h2.foodCard__title Bar BQ Cafe — Манежная
          p.foodCard__description ₽₽₽ • Европейская
          p.foodCard__delivery 30 - 40 Min

    footer.footer
      img.footer__logo(src="/image/footer__logo.png" alt="footer__logo")

      .footer__menu
